In [2]:
#1
list1 = ['python','php', 'java']
print(list1[0])
print(list1[1])
print(list1[2])

python
php
java

In [5]:
#2
list2 = [1, 3, 5, 10, 13, 55, 55, 66, 7, 8]
n = 0
for i in range(0, len(list2)):
    n = n +list2[i]
print("total:", n)

total: 223

In [1]:
#3
list3 = [2, 66, 54, 67, 89]
n = 1
for i in range(0, len(list3)):
    n = n * list3[i]
print(n)

42504264

In [2]:
#4
def add(params):
    a = my_list[2]
    b = my_list[-1]
    x = a * b
    return x
    
my_list = [1,2,3,8,8]

add(my_list)

24

In [3]:
#5
def x(negym):
    a = max(list5)
    b = min(list5)
    return (a,b)
list5 = [2,4,55,6,677,88,67,55,4]
x(list5)

(677, 2)

In [4]:
#6
list6= ['abc', 'xyz', 'aba', '1221','abccba']
n=0;
for i in list6:
    if (len(i)>=2 and i[0]==i[-1]):
        n = n+1
print(n)

3

In [12]:
#7
list7 = ['abdba', 'abcd', '121', '121', 'abcd']
list7.intersection()

AttributeError: 'list' object has no attribute 'intersection'

In [14]:
#8
list8 = []
if list8:
    print("List is not empty")
else:
    print("List is Empty")

List is not empty

In [17]:
#9
list9 = ['agaga', 17, 18, 23, 50, 33, 44, 5, 56, 6]
list_anti_9 = [4, 6, 8]
for i in sorted(list_anti_9, reverse = True):
    del list9[i]
print(list9)

['agaga', 17, 18, 23, 33, 5, 6]

In [21]:
#10 
tuple1 = (1,4,5,6,4,7,3,8,7,6,8)
#11
y = list(tuple1)
y.extend([14,9])
tuple1 = tuple(y)
print(tuple1)

(1, 4, 5, 6, 4, 7, 3, 8, 7, 6, 8, 14, 9)

In [22]:
#12 gishuun nemsen tuple-r ajillasan
a = tuple1[2], tuple1[-2]
print(a)

(5, 14)

In [23]:
# #13 
#Ehnii huvilbar
res = True 
temp = set()
for ele in tuple1:
    if ele in temp:
        res = False 
        break
    temp.add(ele)
print("Is tuple distinct ? : " + str(res))
#2doh huvilbar
alphabet = ('a','b','c','d','e','f','g')
ehnii_7_useg = input('Usgee oruulna uu?')
if ehnii_7_useg in alphabet:
    print('baina')
else:
    print('alga baina')

Is tuple distinct ? : False
Usgee oruulna uu?a
baina

In [25]:
#14
for i in tuple1:
    print(i)
#2 doh huvilbar
mytuple = ('A', 'B', 'C')

for item in mytuple:
    print(str(item[0]))

1
4
5
6
4
7
3
8
7
6
8
14
9
A
B
C

In [5]:
#15
set1 = {'orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana'}
set2 = {'tomato', 'potato','cabbage', 'onion','kiwi', 'apple'}
set3 = set1.union(set2)
print(set3)

{'cabbage', 'onion', 'tomato', 'orange', 'apple', 'potato', 'kiwi', 'banana', 'pear'}

In [63]:
#16
set1 = {'orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana'}
set2 = {'tomato', 'potato','cabbage', 'onion','kiwi', 'apple','onion'}
a = set1.intersection(set2)
print(a)

{'kiwi', 'apple'}

In [64]:
#17
print(len(set2))

6

In [26]:
#18
# set2.discard('potato')
# print(set2) # (ene bas baij boloh baih)
set1 = {1,2,3,4,5,6,7,8}
set2 = {4,5,7,8,9,0}
set1 = set1.difference(set2)
print(set1)

{1, 2, 3, 6}

In [73]:
#19
set1.clear()
print(set1)

set()

In [74]:
#20
del set1
print(set1)

NameError: name 'set1' is not defined

In [4]:
#21
import operator
dict1 = {1: 2, 3: 4, 4: 3, 2: 1, 0: 5}
a = sorted(dict1.items(), key=operator.itemgetter(1))
print('osch bui : ',a)
b = dict( sorted(dict1.items(), key=operator.itemgetter(1),reverse=True))
print('Buurch bui : ',b)

osch bui :  [(2, 1), (1, 2), (4, 3), (3, 4), (0, 5)]
Buurch bui :  {0: 5, 3: 4, 4: 3, 1: 2, 2: 1}

In [5]:
#22
key = 5
if key in dict1:
    print("Key dict-d baina")
else:
    print("key dict-d baihgui baina")

key dict-d baihgui baina

In [92]:
#23
value = 2
if value in dict1:
    print("Value dict-d baina")
else:
    print("Value dict-d baihgui baina")

Value dict-d baina

In [94]:
#24
for x,y in dict1.items():
    print(x,y)

1 2
3 4
4 3
2 1
0 0

In [97]:
#25
dict2 = {9: 3, 10: 4, 11: 5, 8: 6, 6: 8 }
y = dict1.update(dict2)
#dict 1 iig dict2 - oor update hiij shinechlev
dict1

{1: 2, 3: 4, 4: 3, 2: 1, 0: 0, 9: 3, 10: 4, 11: 5, 8: 6, 6: 8}

In [98]:
#26
value = dict1.values()
total = sum(value)
print(total)

36

In [5]:
#6
list6= ['abc', 'xyz', 'aba', '1221','abccba']
n=0;
for i in list6:
    if (len(i)>=2 and i[0]==i[-1]):
        n = n+1
print(n)

3

In [7]:
def ijil(x):
    n = 0
    for i in x:
        if len(i) >= 2:
            if i[0] == i[-1]:
                n = n + 1
    return n
list6= ['abc', 'xyz', 'aba', '1221','abccba']
ijil(list6)

3

In [3]:
dict1 = { 
	'Manufacturer': 'Tesla', 
	'Model': ' 3', 
	'Year': 2021 } 
print (dict1)

x = dict1['Manufacturer']
print(x)

x = dict1.get('Manufacturer')
print(x)

dict1['Model'] = 'S ' 
print(dict1)

{'Manufacturer': 'Tesla', 'Model': ' 3', 'Year': 2021}
Tesla
Tesla
{'Manufacturer': 'Tesla', 'Model': 'S ', 'Year': 2021}