In [131]:
import pandas as pd
data = pd.Series([0.25, 0.5,0.75, 1.0], index = ['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [132]:
'b' in data ###data baigaa esehig shalgana
print(data[2])
'b' in data

0.75

True

In [133]:
print(list(data.items()))
print(list(data.items())[2]) ###ted dehiig ni avyaaa
print(data.items()) #iim ymnud bnaa gj harulna

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]
('c', 0.75)
<zip object at 0x0000018BCF338580>

In [134]:
print(data.keys()) ###zovhon key-g avah
data.keys()[2]
data.index

Index(['a', 'b', 'c', 'd'], dtype='object')

Index(['a', 'b', 'c', 'd'], dtype='object')

In [135]:
data.keys
data.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [136]:
### ogogfol nemeh
data['e'] = 1.25
data['i'] = 1.5
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
i    1.50
dtype: float64

In [137]:
##daraah baidlaar heseg ogogdliig avch bolno
data['a':'c']
data[0:3]

a    0.25
b    0.50
c    0.75
dtype: float64

In [138]:
data[(data >0.3) & (data < 1.25)] ###iim bdlar slice hiij bolno

b    0.50
c    0.75
d    1.00
dtype: float64

In [139]:
###fancy indexing
data[['a', 'e']]

a    0.25
e    1.25
dtype: float64

In [140]:
data1 = pd.Series(['a', 'b','c'], index = [1,3,5])
data1

1    a
3    b
5    c
dtype: object

In [141]:
data1.loc[3] #loc iin huvid yg utgaar ni avna same as data['c']

'b'

In [142]:
data1.iloc[0] ## iloc iin huvid indexeer ni avna data[2]

'a'

In [143]:
area_dict = {'California' : 423967,
            'Texas' : 695662,
            'New York' : 141297,
            'Florida' : 170312,
            'Illinois' : 149995}
print(area_dict)
a = pd.Series(area_dict)
a

{'California': 423967, 'Texas': 695662, 'New York': 141297, 'Florida': 170312, 'Illinois': 149995}

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [144]:
p_dict = {'California' : 38332521,
            'Texas' : 26448193,
            'New York' : 19651127,
            'Florida' : 19552860,
            'Illinois' : 12882135}
p = pd.Series(p_dict)
p

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [145]:
dataf = pd.DataFrame({'area':a, 'pop':p})
dataf

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [146]:
# data['area']
dataf.area ###area baganiig avahin tuld

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [147]:
dataf.area is dataf['area']

True

In [148]:
dataf['density'] = dataf['pop'] / dataf['area']
dataf

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [156]:
dataf.iloc[1,1] = 90
dataf

              area       pop     density
California  423967        90   90.000000
Texas       695662        90   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [150]:
data.columns[0]

AttributeError: 'Series' object has no attribute 'columns'

In [151]:
data.values[0:2] ###1r moriin valueg array bolgj ogn

array([0.25, 0.5 ])

In [ ]:
###mor baganiig swap hiih,
dataf.T

In [ ]:
dataf.iloc[:3,:3]

In [ ]:
dataf.loc[dataf.density>100,['pop','density']]

In [ ]:
dataf.iloc[0,2] = 90 ### 0 -r mornii 0,1 2iig 90 bolgoy
dataf

In [ ]:
data[data.density >100]

In [ ]:
data.items() ###iim bagtsalsan item bnaa gej haruuln

In [ ]:
data.loc[:'Texas', :'density'] ##3texas hurtl

In [ ]:
data1 = pd.Series(['a','b','c'], index = [1,3,5])

In [ ]:
data1

In [ ]:
data1.iloc[1:3]