In [3]:
import numpy as np
import pandas as pd
###NAN, NONE
vals1 = pd.Series([1, None,3,4]) ###yu c bhgushu gj  bga
print(vals1)
vals2 = pd.Series([1,'',3,4]) ###hooson tmdeg
print(vals2)
vals3 = pd.Series([1,np.nan,3,4])
print(vals3)
##3panda deer NONE, esvel np.nan aar ilerhiilgdn

0    1.0
1    NaN
2    3.0
3    4.0
dtype: float64
0    1
1
2    3
3    4
dtype: object
0    1.0
1    NaN
2    3.0
3    4.0
dtype: float64

In [4]:
print(vals1.sum())
print(vals1.max())
print(vals1.min())
print(vals1.mean())

8.0
4.0
1.0
2.6666666666666665

In [9]:
vals2 = np.array([1, np.nan,2,3])
vals2 ###

array([ 1., nan,  2.,  3.])

In [10]:
data = pd.Series([1, None, 3, np.nan])
data

0    1.0
1    NaN
2    3.0
3    NaN
dtype: float64

In [12]:
df = data

df.dropna() ### na baih ym bol ustaga
df.dropna(axis = 1) moroor ni esvel baganaar ni ustaga
##tuhain nan iig shiidverleh bol fill hiine
df.dropna(axis =1, how = 'any') ##any ur dun oorchlogdhgu, ! nan taarvl ter chigt ni ustgay
df.dropna(axis =1, how = 'all') ###bugdig ni ustgana.

SyntaxError: invalid syntax (<ipython-input-12-2927ec98a18c>, line 4)

In [18]:
data = pd.Series([1, np.nan, 2, None,3], index = list('abcde'))
data
data.dropna(how = 'all')

a    1.0
c    2.0
e    3.0
dtype: float64

In [23]:
data.fillna(method = 'bfill') ### back fill8 daraagin utgaa avaad ooriigoo duurgene
###ffill - omnohoo avaad ooriigooo duurgene
data.fillna('a') ##bugdiig ni a usgeer bichih ged yuc bj bln

a    1
b    a
c    2
d    a
e    3
dtype: object

In [17]:
xl = pd.read_excel() ###python ajillaj baigaa gzraa avaachij huulna

In [ ]:
# xl.isnull()
# xl.notnull()