In [2]:
#1
list1 = ['python','php', 'java']
print(list1[0])
print(list1[1])
print(list1[2])

python
php
java

In [5]:
#2
list2 = [1, 3, 5, 10, 13, 55, 55, 66, 7, 8]
n = 0
for i in range(0, len(list2)):
    n = n +list2[i]
print("total:", n)

total: 223

In [8]:
#3
list3 = [2, 66, 54, 67, 89]
n = 1
for i in range(0, len(list3)):
    n = n * list3[i]
print(n)

42504264

In [23]:
#4
def add(*params):
    a = my_list[2]
    b = my_list[-1]
    x = a * b
    return x
    
my_list = [1,2,3,8,8]

add(*my_list)

24

In [28]:
#5
def x(list5):
    a = max(list5)
    b = min(list5)
    x =(a,b)
    return x
list5 = [2,4,55,6,677,88,67,55,4]
x(list5)

(677, 2)

In [44]:
#6
list6= ['abc', 'xyz', 'aba', '1221','abccba']
n=0;
for i in list6:
    if (len(i)>=2 and i[0]==i[-1]):
        n = n+1
print(n)

3

In [5]:
#7
list7 = ['a','x','a','y','a','b','b','c','4','4', 'abcd', 'abcd']
list7 = dict.fromkeys(my_list)
print(list(my_final_list))

['a', 'x', 'y', 'b', 'c', '4', 'abcd']

In [12]:
#8
list8 = []
if list8:
    print("List is not empty")
else:
    print("List is Empty")

List is Empty

In [26]:
#9
list9 = ['agaga', 17, 18, 23, 50, 33, 44, 5, 56, 6]
list_anti_9 = [4, 6, 8]
for i in sorted(list_anti_9, reverse = True):
    del list9[i]
print(list9)

['agaga', 17, 18, 23, 33, 5, 6]

In [47]:
#10 
tuple1 = (1,4,5,6,4,7,3,8,7,6,8)
#11
y = list(tuple1)
y.extend([14,9])
tuple1 = tuple(y)
print(tuple1)

(1, 4, 5, 6, 4, 7, 3, 8, 7, 6, 8)

In [40]:
#12 gishuun nemsen tuple-r ajillasan
a = tuple1[2], tuple1[-2]
print(a)

(5, 14)

In [49]:
# #13 
# res = True 
# temp = set()
# for ele in tuple1:
#     if ele in temp:
#         res = False 
#         break
#     temp.add(ele)
# print("Is tuple distinct ? : " + str(res))

Is tuple distinct ? : False

In [55]:
#14
for i in tuple1:
    print(i)
mytuple = ('A', 'B', 'C')

for item in mytuple:
    print(str(item[0]))

1
4
5
6
4
7
3
8
7
6
8
A
B
C

In [58]:
#15
set1 = {'orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana'}
set2 = {'tomato', 'potato','cabbage', 'onion','kiwi', 'apple'}
set3 = set1.union(set2)
print(set3)

{'tomato', 'banana', 'kiwi', 'apple', 'cabbage', 'onion', 'potato', 'pear', 'orange'}

In [63]:
#16
set1 = {'orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana'}
set2 = {'tomato', 'potato','cabbage', 'onion','kiwi', 'apple','onion'}
a = set1.intersection(set2)
print(a)

{'kiwi', 'apple'}

In [64]:
#17
print(len(set2))

6

In [72]:
#18
set2.discard('potato')
print(set2)

{'tomato', 'kiwi', 'apple', 'cabbage', 'onion'}

In [73]:
#19
set1.clear()
print(set1)

set()

In [74]:
#20
del set1
print(set1)

NameError: name 'set1' is not defined

In [85]:
#21
import operator
dict1 = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
sorted_dict1 = sorted(dict1.items(), key=operator.itemgetter(1))
print('osch bui : ',sorted_dict1)
sorted_dict1 = dict( sorted(dict1.items(), key=operator.itemgetter(1),reverse=True))
print('Buurch bui : ',sorted_dict1)

osch bui :  [(0, 0), (2, 1), (1, 2), (4, 3), (3, 4)]
Buurch bui :  {3: 4, 4: 3, 1: 2, 2: 1, 0: 0}

In [91]:
#22
key = 1
if key in dict1:
    print("Key dict-d baina")
else:
    print("key dict-d baihgui baina")

Key dict-d baina

In [92]:
#23
value = 2
if value in dict1:
    print("Value dict-d baina")
else:
    print("Value dict-d baihgui baina")

Value dict-d baina

In [94]:
#24
for x,y in dict1.items():
    print(x,y)

1 2
3 4
4 3
2 1
0 0

In [97]:
#25
dict2 = {9: 3, 10: 4, 11: 5, 8: 6, 6: 8 }
y = dict1.update(dict2)
#dict 1 iig dict2 - oor update hiij shinechlev
dict1

{1: 2, 3: 4, 4: 3, 2: 1, 0: 0, 9: 3, 10: 4, 11: 5, 8: 6, 6: 8}

In [98]:
#26
value = dict1.values()
total = sum(value)
print(total)

36