In [2]:
###Pandas san
#series uusgeh, data frame uusgeh
import numpy as np
import pandas as pd

In [11]:
#series uusgeh ni
data = pd.Series([0.25, 0.5, 0.75, 1.0, index = ['a','b','c','d']) #index ni mooriinhoo utgig ooroo ogh blmj olgn
#morond hargalzah utga tentsuu bh ystoi
data #1 hemjeest

SyntaxError: invalid syntax (<ipython-input-11-a388cdc44afc>, line 1)

In [4]:
data.values ###utguudig ni harah

array([0.25, 0.5 , 0.75, 1.  ])

In [5]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [26]:
pd.Series(5, index = range(100,111))

100    5
101    5
102    5
103    5
104    5
105    5
106    5
107    5
108    5
109    5
110    5
dtype: int64

In [30]:
area_dict = {'California' : 423967,
            'Texas' : 695662,
            'New York' : 141297,
            'Florida' : 170312,
            'Illinois' : 149995}
print(area_dict)
a = pd.Series(area_dict)
a

{'California': 423967, 'Texas': 695662, 'New York': 141297, 'Florida': 170312, 'Illinois': 149995}

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [29]:
p_dict = {'California' : 38332521,
            'Texas' : 26448193,
            'New York' : 19651127,
            'Florida' : 19552860,
            'Illinois' : 12882135}
p = pd.Series(p_dict)
p

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [32]:
pd.DataFrame({'Population' : p, 'Area' : a})

            Population    Area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995