In [2]:
#1
import numpy as np
my_arr = np.arange(50,100)
my_arr

array([50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66,
       67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83,
       84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [10]:
#2
my_arr2 = np.zeros(10)
print(my_arr2)
my_arr3 = np.ones(10)
print(my_arr3)
my_arr4 = np.ones(10)*6
my_arr4

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

array([6., 6., 6., 6., 6., 6., 6., 6., 6., 6.])

In [11]:
#3
my_arr5 = np.arange(20,32)
data1 = np.arange(20,32)
a = np.reshape(data1,(3,4))
print(a)

[[20 21 22 23]
 [24 25 26 27]
 [28 29 30 31]]

In [13]:
#4
a = np.zeros((3,3), int)
np.fill_diagonal(a,1)
print(a)

[[1 0 0]
 [0 1 0]
 [0 0 1]]

In [17]:
#5
a = np.zeros((5,5), int)
np.fill_diagonal(a,(1,2,3,4,5))
print(a)

[[1 0 0 0 0]
 [0 2 0 0 0]
 [0 0 3 0 0]
 [0 0 0 4 0]
 [0 0 0 0 5]]

In [30]:
#6
data3 = [[1,2,3,4], [6,5,4,8]]
arr6 = np.array(data3)
arr6
a = sum(map(sum,arr6))
print(a) #niit niilber
#baganiin niilber
print(np.sum(arr6, axis = 0))
#sum of each row
print(np.sum(arr6,axis=1))

33
[ 7  7  7 12]
[10 23]

In [28]:
#7
Seasons = ["2015","2016","2017","2018","2019","2020","2021"]
Sdict = {"2015":0,"2016":1,"2017":2,"2018":3,"2019":4,"2020":5,"2021":6}
#player
Players = ["KobeBryant","JoeJohnson","LeBronJames","CarmeloAnthony","DwightHoward","ChrisBosh","ChrisPaul","KevinDurant","DerrickRose","DwayneWade"]
Pdict = {"KobeBryant":0,"JoeJohnson":1,"LeBronJames":2,"CarmeloAnthony":3,"DwightHoward":4,"ChrisBosh":5,"ChrisPaul":6,"KevinDurant":7,"DerrickRose":8,"DwayneWade":9}
#salary
KobeBryant_Salary = [25000000,0,0,0,0,0,0]
JoeJohnson_Salary = [23180790,21894863,11000000,10254904,]
LeBronJames_Salary = [4621800,5828090,13041250,14410581,15779912,14500000,16022500,17545000,19067500,20644400]
CarmeloAnthony_Salary = [3713640,4694041,13041250,14410581,15779912,17149243,18518574,19450000,22407474,22458000]
DwightHoward_Salary = [4493160,4806720,6061274,13758000,15202590,16647180,18091770,19536360,20513178,21436271]
ChrisBosh_Salary = [3348000,4235220,12455000,14410581,15779912,14500000,16022500,17545000,19067500,20644400]
ChrisPaul_Salary = [3144240,3380160,3615960,4574189,13520500,14940153,16359805,17779458,18668431,20068563]
KevinDurant_Salary = [0,0,4171200,4484040,4796880,6053663,15506632,16669630,17832627,18995624]
DerrickRose_Salary = [0,0,0,4822800,5184480,5546160,6993708,16402500,17632688,18862875]
DwayneWade_Salary = [3031920,3841443,13041250,14410581,15779912,14200000,15691000,17182000,18673000,15000000]
#Matrix

Original array:
[[0 1]
 [2 3]]
Sum of all elements:
6
Sum of each column:
[2 4]
Sum of each row:
[1 5]

In [ ]:
year = np.arange